html {
    background-color: #856341;
  }
  p {
    color: white;
    
  }
  .topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #463d25;
    color: white;
  }
  body {
    width: 600px;
    height: 500px;
    margin: 0 auto;
    background-color: #e0b17f;
    padding: 0 0px 0px 0px;
    border: 1px solid black;
    background-size: cover;
    background-image: url(Picture/pic1.jpg);
    opacity: 0.8
  }
  h1 {
    text-align:center;
    margin: 0;
    padding: 20px 0;
    color: #ffffff;
    text-shadow: 3px 3px 1px black;
  }
  p{
    text-align:center;
  }
  img {
    display: block;
    margin: 0 auto;
  }
  .button {
    border: none;
    color: white;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #9c7542;
}

.button1:hover {
    background-color: #dbbb90;
    color: white;
}
/*
.button2 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

.button2:hover {
    background-color: #008CBA;
    color: white;
}
*/
.buttona {
    border: none;
    background-color: white;
    padding: 16px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 50%;

}

.button3 {
    background-color: white;
    color: black;
    border: 2px solid hsl(38, 43%, 52%);
}

.button3:hover {
    background-color: #a38067;
    color: white;
}

.slidecontainer {
    width: 50%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}
/*
aside {
    float: right;
    border: 1px solid #000;
    height: 500px;
    padding: 10px;
    background-color: #856341;
    opacity: 0.5
}*/